doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Amaravati Chamber
  // Favicon
  link(rel='icon' type='image/x-icon' href='assets/favicon.ico')
  // Bootstrap Icons
  link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css' rel='stylesheet')
  // Google fonts
  link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css')
  // SimpleLightbox plugin CSS
  link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css' rel='stylesheet')
  // Core theme CSS (includes Bootstrap)
  link(href='css/styles.css' rel='stylesheet')
// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
  .container.px-4.px-lg-5
    a.navbar-brand(href='#page-top') Amaravati Chamber
    button.navbar-toggler.navbar-toggler-right(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ms-auto.my-2.my-lg-0
        li.nav-item
          a.nav-link(href='#about') About
        li.nav-item
          a.nav-link(href='#services') Services
        li.nav-item
          a.nav-link(href='#portfolio') Portfolio
        li.nav-item
          a.nav-link(href='#contact') Contact
// Masthead
header.masthead
  .container.px-4.px-lg-5.h-100
    .row.gx-4.gx-lg-5.h-100.align-items-center.justify-content-center.text-center
      .col-lg-8.align-self-end
        h1.text-white.font-weight-bold Empowering businesses, fostering growth.
        hr.divider
      .col-lg-8.align-self-baseline
        p.text-white-75.mb-5
          | Amaravati Chamber of Commerce supports local businesses through advocacy and resources, enhancing economic vitality in our community. Join us to network, collaborate, and thrive in Amaravati&apos;s dynamic business environment.
        a.btn.btn-primary.btn-xl(href='#about') Find Out More
// About
section#about.page-section.bg-primary
  .container.px-4.px-lg-5
    .row.gx-4.gx-lg-5.justify-content-center
      .col-lg-8.text-center
        h2.text-white.mt-0 We&apos;ve got what your business needs!
        hr.divider.divider-light
        p.text-white-75.mb-4
          | Amaravati Chamber of Commerce offers essential resources and networking opportunities to help your enterprise thrive. Explore our community-driven initiatives and join us in shaping Amaravati&apos;s economic future.
        a.btn.btn-light.btn-xl(href='#services') Get Started!
// Services
section#services.page-section
  .container.px-4.px-lg-5
    h2.text-center.mt-0 Our Services
    hr.divider
    .row.gx-4.gx-lg-5
      .col-lg-3.col-md-6.text-center
        .mt-5
          .mb-2
            i.bi-people.fs-1.text-primary
          h3.h4.mb-2 Community Engagement
          p.text-muted.mb-0 Join our vibrant business community to network and collaborate.
      .col-lg-3.col-md-6.text-center
        .mt-5
          .mb-2
            i.bi-briefcase.fs-1.text-primary
          h3.h4.mb-2 Business Resources
          p.text-muted.mb-0 Access essential resources and support for business growth and development.
      .col-lg-3.col-md-6.text-center
        .mt-5
          .mb-2
            i.bi-calendar2.fs-1.text-primary
          h3.h4.mb-2 Events &amp; Workshops
          p.text-muted.mb-0 Attend workshops and events to enhance your skills and knowledge.
      .col-lg-3.col-md-6.text-center
        .mt-5
          .mb-2
            i.bi-chat-dots.fs-1.text-primary
          h3.h4.mb-2 Advocacy &amp; Support
          p.text-muted.mb-0 Benefit from advocacy efforts that promote a thriving business environment.
// Portfolio
#portfolio
  .container-fluid.p-0
    .row.g-0
      .col-lg-4.col-sm-6
        a.portfolio-box(href='assets/img/portfolio/fullsize/1.jpg' title='Project Name')
          img.img-fluid(src='assets/img/portfolio/thumbnails/1.jpg' alt='...')
          .portfolio-box-caption
            .project-category.text-white-50 Category
            .project-name Amaravati
      .col-lg-4.col-sm-6
        a.portfolio-box(href='assets/img/portfolio/fullsize/2.jpg' title='Project Name')
          img.img-fluid(src='assets/img/portfolio/thumbnails/2.jpg' alt='...')
          .portfolio-box-caption
            .project-category.text-white-50 Category
            .project-name Amaravati
      .col-lg-4.col-sm-6
        a.portfolio-box(href='assets/img/portfolio/fullsize/3.jpg' title='Project Name')
          img.img-fluid(src='assets/img/portfolio/thumbnails/3.jpg' alt='...')
          .portfolio-box-caption
            .project-category.text-white-50 Category
            .project-name Amaravati
// Call to action
section.page-section.bg-dark.text-white
  .container.px-4.px-lg-5.text-center
    h2.mb-4 Join Amaravati Chamber of Commerce Today!
    p.lead.mb-4 Discover the benefits of membership and empower your business.
    a.btn.btn-light.btn-xl(href='#') Become a Member
// Contact
// Contact
section#contact.page-section
  .container.px-4.px-lg-5
    .row.gx-4.gx-lg-5.justify-content-center
      .col-lg-8.col-xl-6.text-center
        h2.mt-0 Get In Touch!
        hr.divider
        p.text-muted.mb-5
          | Have questions or want to learn more about Amaravati Chamber of Commerce? Contact us using the form below and we&apos;ll get back to you shortly.
    .row.gx-4.gx-lg-5.justify-content-center.mb-5
      .col-lg-6
        form(action='https://docs.google.com/forms/d/e/1FAIpQLSeNiZeZdjiPbNHJFL0hhdq5EVlIzHD1HUn46C2Oll46lyN80g/formResponse' method='POST' target='_blank')
          // Name input
          .form-floating.mb-3
            input.form-control(name='entry.1579081345' type='text' placeholder='Enter your name...' required='')
            label(for='name') Full Name
          // Email address input
          .form-floating.mb-3
            input.form-control(name='entry.824450753' type='email' placeholder='name@example.com' required='')
            label(for='email') Email Address
          // Phone number input
          .form-floating.mb-3
            input.form-control(name='entry.1966323359' type='tel' placeholder='83745 25370' required='')
            label(for='phone') Phone Number
          // Message input
          .form-floating.mb-3
            textarea.form-control(name='entry.1575936812   ' placeholder='Enter your message here...' style='height: 10rem' required='')
            label(for='message') Message
          // Submit Button
          .d-grid
            button.btn.btn-primary.btn-xl(type='submit') Submit
    .row.gx-4.gx-lg-5.justify-content-center
      .col-lg-4.text-center.mb-5.mb-lg-0
        i.bi-phone.fs-2.mb-3.text-muted
        div +91 83745 25370
// Footer
footer.bg-light.py-5
  .container.px-4.px-lg-5
    .small.text-center.text-muted Copyright &copy; 2024 - Amaravati Chamber
// Bootstrap core JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
// SimpleLightbox plugin JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')
// Core theme JS
script(src='js/scripts.js')
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * *                               SB Forms JS                               * *
// * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
